#blood-tube {
  border-right: black solid 2px;
  border-left: black solid 2px;
  border-bottom: black solid 2px;
  border-top: white solid 40px;
  height: 150px;
  width: 40px;
  background-color: red;
  border-radius: 0px 0px 50px 50px;
  margin-bottom: 10px;
  align-content: center;
  margin-left: 150px;
  display: inline-block;
}

#separated-blood-tube {
  border-right: black solid 2px;
  border-left: black solid 2px;
  border-bottom: black solid 2px;
  border-top: white solid 40px;
  height: 150px;
  width: 40px;
  background-image: linear-gradient(to bottom, yellow, yellow 55%, white, white 55%, red, red 60%);
  border-radius: 0px 0px 50px 50px;
  margin-bottom: 10px;
  align-content: center;
  margin-left: 150px;
  display: inline-block;
  display: none;
}

#prp-tube {
  border-right: black solid 2px;
  border-left: black solid 2px;
  border-bottom: black solid 2px;
  border-top: white solid 100px;
  height: 100px;
  width: 40px;
  background:
    radial-gradient(rgb(168, 165, 165) 15%, transparent 16%) 0 0,
    radial-gradient(rgb(168, 165, 165) 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color: yellow;
background-size:16px 16px;
  border-radius: 0px 0px 50px 50px;
  margin-bottom: 10px;
  align-content: center;
  margin-left: 150px;
  display: inline-block;
  display: none;
}

#separated-plasma-tube {
  border-right: black solid 2px;
  border-left: black solid 2px;
  border-bottom: black solid 2px;
  border-top: white solid 100px;
  height: 100px;
  width: 40px;
  background-image: linear-gradient(to bottom, yellow, yellow 85%, rgb(168, 165, 165)  15%, rgb(168, 165, 165) );
  border-radius: 0px 0px 50px 50px;
  margin-bottom: 10px;
  align-content: center;
  margin-left: 150px;
  display: inline-block;
  display: none;
}

#final-plasma-tube {
  border-right: black solid 2px;
  border-left: black solid 2px;
  border-bottom: black solid 2px;
  border-top: white solid 40px;
  height: 50px;
  width: 20px;
  background-color: yellow;
  border-radius: 0px 0px 50px 50px;
  margin-bottom: 10px;
  align-content: center;
  margin-left: 150px;
  display: inline-block;
  display: none;
}


#first-spin {
  margin-left: 20px;
  float: right;
  margin-right: 900px;
  margin-top: 100px;
}

/* #blood-tube {
  animation: shake 0.5s;
  animation-iteration-count: infinite; 
} */

#first-transfer {
  margin-left: 20px;
  display: none;
  float: right;
  margin-right: 900px;
}

#second-spin {
  margin-left: 20px;
  display: none;
  float: right;
  margin-right: 900px;
}

#final-transfer {
  display: none;
  margin-left: 20px;
  float: right;
  margin-right: 900px;
}

#whole-blood-description {
  display: block;
  margin-left: 20px
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-180deg); }
  20% { transform: translate(-3px, 0px) rotate(180deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(180deg); }
  50% { transform: translate(-1px, 2px) rotate(-180deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-180deg); }
  80% { transform: translate(-1px, -1px) rotate(180deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}